<!DOCTYPE html>
<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <div style="width:500px;height:180px;background-color:#ececec;padding:80px;margin-left:22%;margin-top:9%;">
            <h2 style="font-size: medium;">Welcome, Login to your Twitter Acount</h2>
            <a href="/auth/twitter"><img src="twitter.png" width="300" height="100"></a>
        </div>

    </body>
</html>